.cabecario {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1000; /* Para garantir que a HUD fique acima do conteúdo */
    background-color: var(--var-hud-color-black);
    width: 100%;
    text-align: center; /* Opcional: para centralizar o conteúdo dentro do cabeçalho */
    padding: 1rem 0;
}

.cabecario div {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
}

.cabecario .link {
    margin: 0 1rem;

    padding: 10px 20px;
    border: 2px solid #fefefe;
    text-transform: uppercase;
    color: #fefefe;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.link:link,
.link:visited {
    font-size: 2rem;
    font-family: "Bodoni Moda SC", serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Ajuste o peso conforme necessário */
    color: rgba(255, 255, 255, 0.87);
    text-decoration: none;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.link:hover{
    color: var(--var-hud-color-black);
    background-color: #f1f1f1;

}
.cabecario img {
    margin: 1rem;
}
