/* Estilos para o cabeçalho padrão da HUD (Head-Up Display) */
.cabecario {
    display: flex;
    position: sticky;
    justify-content: space-evenly;
    top: 0;
    z-index: 1000;
    background-color: var(--var-hud-color-black);
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    margin-bottom: 1rem;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Animação de esconder/mostrar */
  }
  
  /* Mantém a HUD oculta fora da tela */
  .hidden {
    transform: translateY(-100%);
    opacity: 0; /* Opcional: diminui a opacidade para uma transição mais suave */
  }
  
  /* Estilos para o link */
  .link {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0 1rem;
  }
  
  .link:hover {
    color: var(--var-hud-color-purple);
  }
  