.ProjectListSession{
    display: flex;
    flex-direction: column;
    background-color: var(--var-hud-color-black);
    
}
.tituloProject{
    font-size: 3rem;
    margin: 1rem;
    align-self: center;
    align-content: center;
    align-items: center;
}

.exibir{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1rem;
    gap: 2rem; /* Espaçamento entre linhas e colunas */
}
