/* Adicione isso ao seu arquivo CSS global (index.css ou App.css) */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

:root {
  --var-background-color-black: #2c2c2c;
  --var-hud-color-black: #111111;
  
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--var-background-color-black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.bodoni-moda-sc {
  font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Cursor.css */
.cursor {
  width: 20px;
  height: 20px;
  border: 2px solid rgba(255, 255, 255, 0.87);
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;
  transition: background-color 0.2s, transform 0.2s;
}

.cursor:hover {
  background-color: rgba(255, 255, 255, 0.87);
  transform: scale(1.5);
}
